/* start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px ;
}
/* end variables */

/* start global rules  */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    /* large */
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */

/* start component */
.special-heading {
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    text-transform: capitalize;
    color: #777;
    font-size: 20px;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        font-size: 15px;
        margin-top: -20px;
    }
 }
/* end component */ 
/* start header */
.header {
    padding: 20px;
    transition: 0.7s ease;
}

.header:hover {
    background-color: var(--main-color) ;
}

.header:hover .container .links .icon span {
background-color: white;
}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.header .container i {
    font-size: 28px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 700;
    transition: 0.3s ease;
    border-radius: 30px;
}

.header:hover .container i {
    color: white;
}

.header .container i:hover {
    transform: scale(1.5);
}

.header .container .links {
position: relative;
transition: 0.4s ease;

}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}

.header .container .links .icon span:first-child {
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s ease;
}
.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .container .links .icon span:last-child {
    width: 100%;
}

.header .container .links ul {
    list-style: none;
    background-color: #f6f6f6;
    border-radius: 12px;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -23px;
}

.header .container .links ul a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 15px;
    transition: 0.4s;
}

.header .container .links ul a:hover {
    padding-left: 35px;
    transform: scale(1.1);
    color: var(--main-color);
}

.header .container .links ul li:not(:last-child)  {
    border-bottom: 1px solid #ddd;
}


/* end header */


/* start landing */

.landing {
    background-image: url(../image/landing\ \(2\).jpg);
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}

.landing .intro-text {
position: absolute;
left: 50%;
top: 38%;
transform: translate(-50% , -50%);
text-align: center;
}

.landing .intro-text h1 {
margin: 0;
color: var(--main-color);
font-size: 70px;
font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 23px;

}
/* end landing */

/* start futures */

.futures {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.futures .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.futures .container .card {
    width: 350px;
    height: 250px;
    margin: 10px;
    cursor: default;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.futures .container .card:hover i {
    transform: scale(1.3);
} 

.futures .container .card .icon i {
    font-size: 40px;
    color: var(--main-color);
    transition: 0.3s;
}

.futures .container .card h2 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
}

.futures .container .card p {
    line-height: 28px;
    text-align: center;
}

/* end futures */


/* start  services*/
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .sev {
    margin-bottom: 40px;
    display: flex;
    
}

.services .services-content .sev:hover i {
    transform: scale(1.1);
    color: black;
}

.services .services-content .sev:hover h3 {
    color: var(--main-color);
}

@media (max-width:767px) {
    .services .services-content .sev {
        text-align: center;
        flex-direction: column;
    }
}

.services .services-content .sev i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 30px;
    transition: 0.3s;
}

.services .services-content .sev .text {
    flex: 1;
}


.services .services-content .sev .text h3  {
    margin: 0 0 10px;
    transition: 0.3s;
}

.services .services-content .col .sev .text p {
color: #777;
line-height: 1.6;
font-weight: 300;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 90px);
    top: -50px;
    right: 0;
    background-color: var(--secondary-color);
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
    height: 350px;
    transition: 0.4s ease;
}

@media (max-width:1199px) {
    .services .services-content .col .image {
        display: none;
    }
}

/* end  services*/

/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:#f6f6f6;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
} 

.portfolio .portfolio-content .card {
    background-color: white;
    border-radius: 10px;
    transition: 0.7s ease;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    font-size: 20px;
    margin: 10px 0;
    transition: 0.7s ease;
}

.portfolio .portfolio-content .card:hover .info h3 {
    color: var(--main-color);
}

.portfolio .portfolio-content .card  p {
    margin: 0;
    line-height: 1.6;
    color: #777;
} 

.portfolio .portfolio-content .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.7s;
}

.portfolio .portfolio-content .card:hover img {
    border-radius: 30%;
}
.portfolio .portfolio-content .card:hover {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    transform: scale(1.1);
}

@media (max-width:767px) {
    .portfolio .portfolio-content .card:hover {
        transform: none;
    }
}

/* end portfolio */

/* start about */
.about {
    padding-top: 60px;
    padding-bottom: 120px;
}

.about .about-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

@media (max-width:991px) {
    .about .about-content .text {
        text-align: center;
    }
}


.about .about-content .image::before {
    content: "";
    position: absolute;
    left: -20px;
    background-color: #f6f6f6;
    top: -40px;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    height: 300px;
    width: 120px;
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}

@media (max-width:991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    line-height: 2;
    margin-bottom: 50px;
    font-weight: bold;
}

.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.about .about-content .image img {
    width: 100%;
}

/* end about */

/* start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .info {
    padding: 60px 0;
    text-align: start;
}

.contact .info .lable {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.contact .info .link {
    display: block;
    color: var(--main-color);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
    text-decoration: none;
}

@media (max-width:767px) {

    .contact .info .lable,
    .contact .info .link {
        font-size: 25px;
    }
}

.contact .info .social {
    display: flex;
    justify-content: flex-start;
}

.contact .info .social a {
    margin-left: 10px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.contact .info .social a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.contact .info .social i {
    margin-left: 10px;
    font-size: 20px;
}

/* end contact */

/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
}

/* end footer */